* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif; 
}


body {
  width: 100%;
  height: 100vh;
  background-color: #eaeaea;
}
.contener {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  align-items: center;
}




a {
  color: black;
  text-decoration: none;
  
}




.nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFF;
    padding: 1rem;
}

.cart-length{
  display: flex;
}
.hide{
  display: none;
}

.productcontener {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.products {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 1rem;
  background-color: #FFFF;
  padding: 10px;
}
.added {
  width: 150px;
  height: 30px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}


#text {
  width: 600px;
  outline: none;
  padding: 5px;
  border: 1px solid black;
}




  


.pro {
  padding: 3px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    padding: 5px;
  gap: 1rem;
  background-color: white;
  
}
.conteners {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  position: absolute;
  z-index: 1;
}

.singleproduct {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
}

.totaldiv {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.total {
  width: 110px;
  height: 25px;
  color: black;
  background-color: yellow;
  border: none;
  cursor: pointer;
}


.totalproductbutton {
  color: white;
  background-color: blue;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}
.remove {
  color: white;
  background-color: black;
  border: none;
  width: 110px;
  height: 25px;
  cursor: pointer;
}
.totalcontener {
  color: black;
  width: 150px;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 0 10px 5px black;
  padding: 1rem;
  border-radius: 3px;
  position: absolute;
  z-index: 2;
  top: 30px;
  margin-top: 50px;
  margin-left: 100px;
}
.addeds {
  color: white;
  background-color: black;
  width: 110px;
  height: 30px;
  cursor: pointer;
}


.uppersingle {
  padding: 1rem;
}
.upper-container{
  width: 700px;
  height: 500px;
  background-color: white;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.mini-container{
  padding: 1rem;
  background-color: #FFFF;
  margin-top: 50px;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 
 
}
.shoop-now-button{
    background-color: orange;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.second-part{
  display: flex;
    flex-direction: column;
  gap: 1rem;
  
}
.frist-part{
  display: flex;
  flex-direction: column;
    font-size: 30px;
}
.singlecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-name-container{
  display: flex;
  align-items: center;
}
.heading-image{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
